<h1>Coaching#answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p>

<p> Your question was:
  <%= @your_question %>
</p>

<p> The coach answers you: <%= @your_answer %>
</p>

<p> <%= link_to "Ask a new question", ask_path %>
</p>

